h2 {
    text-align: center;
}

#image {
    width: inherit;
    cursor: pointer;
}
.item-details{
    text-align: inherit;
    width: 45%;
    float : left;
}

.image-form{
    width: 50%;
    float: left;
    display: inline-block;
}

.place-form {
    height: 3rem;
    display: inline-table;
    margin: 3rem;
}

#comment {
    width: 100%;
}

.icon{
    font-size: 2rem;
    color: black;
}

.comment-input {
    padding: 2rem;
    width: 90%;
}

.mapView{
    float: right;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}